.search_coupons_scope {
    box-sizing: border-box;
    background-color: #AF4FFB;
    height: 80px;
}

.search_coupons_scope form {
    display: flex;
}

.search_coupons_scope .search_input {
    padding-left: 30px;
    padding-top: 20px;
}

.search_coupons_scope input {
    height: 40px;
    width: 775px;
    border: 1px solid #AF4FFB;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
}

.search_coupons_scope input::-moz-placeholder {
    color: #000000;
}

.search_coupons_scope input:-ms-input-placeholder {
    color: #000000;
}

.search_coupons_scope input::placeholder {
    color: #000000;
}

.search_coupons_scope input:focus::-moz-placeholder {
    color: transparent;
}

.search_coupons_scope input:focus:-ms-input-placeholder {
    color: transparent;
}

.search_coupons_scope input:focus::placeholder {
    color: transparent;
}

.search_confirm {
    margin-top: 22px;
}

.search_coupons_scope button {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    outline: #FFFFFF solid 1px;
    width: 50px;
}

.search_confirm img {
    cursor: pointer;
    height: 33px;
}

.coupons_scope {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.item_coupon {
    margin: 20px;
    border: 2px solid #AF4FFB;
    border-radius: 25px;
    width: 425px;
}

.item_coupon_logo, .item_coupon_name, .item_coupon_link {
    margin: 15px;
    text-align: center;
}

.item_coupon_name {
    height: 75px
}

.item_coupon_name p {
    font-size: 20px;
}

