.banner {
    height: 300px;
    width: 100%;
    background-color: #AF4FFB;
}

.title_banner h1 {
    font-weight: normal;
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
}

.banner_logo {
    display: inline-block;
    position: absolute;
    margin-left: 1330px;
    margin-top: -20px;
}

.item_registry {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    margin-top: 150px;
}

.item_registry p, .banner .item_coupon p, .item_link p {
    font-weight: bold;
}

.item_pointer_first {
    display: inline-block;
    position: absolute;
    margin-left: 180px;
    margin-top: 155px;
}

.banner .item_coupon {
    display: inline-block;
    position: absolute;
    margin-left: 320px;
    margin-top: 135px;
}

.item_pointer_second {
    display: inline-block;
    position: absolute;
    margin-left: 470px;
    margin-top: 155px;
}

.item_link img {
    display: inline-block;
    position: absolute;
    margin-left: 610px;
    margin-top: 147px;
}

.item_link p {
    display: inline-block;
    position: absolute;
    margin-left: 550px;
    margin-top: 250px;
}

.items_shop {
    box-sizing: border-box;
}

.button_all_coupons {
    box-sizing: border-box;
    margin-left: 750px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button_all_coupons a {
    text-decoration: none;
}

.button_all_coupons button {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #AF4FFB;
    padding-left: 15px;
    padding-top: 7px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button_all_coupons p {
    padding-left: 25px;
    padding-top: 10px;
}

.button_all_coupons button:hover {
    background-color: #000000;
    border: 1px solid #AF4FFB;
    color: #AF4FFB;
    font-weight: bold;
}

.additional_tools {
    box-sizing: border-box;
    width: 100%;
    min-height: 320px;
    background-color: #AF4FFB;
}

.additional_tools h3, .action_service h3 {
    padding-top: 30px;
    font-weight: normal;
    font-size: 24px;
}

.additional_tools h3 {
    padding-left: 700px;
}

.items_tool {
    display: flex;
    box-sizing: border-box;
}

.item_smart_form, .item_mnogo_skidok {
    width: 440px;
    height: 220px;
    background-color: #FFFFFF;
    border: 3px groove #6F6F6F;
    border-radius: 30px;
    margin-top: 15px;
}

.item_smart_form {
    margin-left: 50px;
}

.item_smart_form img {
    margin-left: 180px;
    margin-top: 15px;
}

.item_smart_form p, .item_mnogo_skidok p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.transition_tools {
    padding-left: 325px;
    padding-top: 100px;
}

.item_mnogo_skidok {
    margin-left: 300px;
}

.item_mnogo_skidok img {
    margin-left: 145px;
    margin-top: 15px;
}

.action_service {
    box-sizing: border-box;
    width: 100%;
    min-height: 180px;
}

.action_service h3 {
    padding-left: 500px;
}

.action_buttons {
    box-sizing: border-box;
    display: flex;
}

.button_action_registry {
    margin-left: 375px;
    margin-top: 30px;
}

.button_action_registry a, .button_action_entry a {
    text-decoration: none;
}

.button_action_registry button, .button_action_entry button {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #AF4FFB;
    color: #AF4FFB;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button_action_registry button {
    width: 240px;
    height: 60px;
    padding-left: 15px;
    padding-top: 10px;
}

.button_action_registry p {
    padding-left: 25px;
    padding-top: 13px;
}

.button_action_registry button:hover, .button_action_entry button:hover {
    background-color: #000000;
    border: 1px solid #000000;
    font-weight: bold;
}

.button_action_entry {
    margin-left: 500px;
    margin-top: 30px;
}

.button_action_entry button {
    width: 210px;
    height: 60px;
    padding-left: 12px;
    padding-top: 8px;
}

.button_action_entry p {
    padding-left: 30px;
    padding-top: 15px;
}

