* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", sans-serif;
}

/* header */

.logo {
    margin-left: 25px;
    margin-top: 10px;
    width: 150px;
    display: inline-block;
}

.button_entry, .user_profile {
    display: inline-block;
    margin-left: 1325px;
    margin-top: 25px;
    position: absolute;
}

.button_entry button {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 125px;
    font-size: 20px;
    height: 30px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button_entry button:hover {
    background-color: #AF4FFB;
}

.button_registry, .exit_profile {
    display: inline-block;
    margin-left: 1525px;
    margin-top: 25px;
    position: absolute;
}

.button_registry button {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 150px;
    font-size: 20px;
    height: 30px;
    transition-duration: 1s;
    cursor: pointer;
}

.button_registry button:hover {
    background-color: #AF4FFB;
}

.line hr {
    border: 1px solid #6F6F6F;
}

.header_menu li {
    display: inline-block;
    border: 1px solid #000000;
    width: 150px;
    height: 30px;
    margin-left: 30px;
    margin-top: 15px;
}

.header_menu li p {
    color: #000000;
    font-size: 14px;
    margin: auto;
    margin-top: 7px;
    margin-left: 50px;
    font-family: Arial;
}

.header_menu li img {
    margin-left: 10px;
    margin-top: 3px;
    position: absolute;
}

.header_menu {
    display: inline-block;
    position: absolute;
}

.mnogo_skidok {
    display: inline-block;
    margin-left: 625px;
    margin-top: 6px;
}

/* footer */

.support {
    display: inline-block;
    position: absolute;
    margin-left: 1225px;
    margin-top: 30px;
}

.title {
    margin-left: 25px;
    margin-top: 10px;
}
