.smart_form_questions_scope {
    box-sizing: border-box;
    height: 260px;
    background-color: #AF4FFB;
}

.smart_form_questions_scope form {
    display: flex;
    flex-direction: column;
}

.item_question {
    box-sizing: border-box;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 20px;
    width: 800px;
    height: 100px;
    border-radius: 60px;
}

.item_question .content p {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

.positive_answer, .negative_answer {
    display: inline-block;
    margin: 8px 0px 0px 160px;
}

.positive_answer input[type=radio], .negative_answer input[type=radio] {
    display: none;
}

.positive_answer label, .negative_answer label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 50px;
    line-height: 36px;
    width: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
    user-select: none;
}

.positive_answer input[type=radio]:checked + label, .negative_answer input[type=radio]:checked + label {
    background: #AF4FFB;
    color: #000000;
}

.positive_answer label:hover, .negative_answer label:hover {
    background: #000000;
    color: #AF4FFB;
}

.smart_form_send_scope {
    display: flex;
}

.smart_form_confirm, .smart_form_cancel {
    margin: 40px 100px 0px 400px;
}

.smart_form_confirm button, .smart_form_cancel button {
    background-color: #000000;
    color: #AF4FFB;
    width: 300px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}
